#nodeEditor{
    // position: relative;

    height: 650px;
    width: 100%;
    max-width: 550px;
    margin: -100px auto 0;
 }
 
 .socket.number{
     background: #00d2ff;
 }
 
 .control input {
    width: 150px
 }